# Dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Build output
dist
dist-ssr
build

# Environment files
.env
.env.local
.env.*.local

# Version control
.git
.gitignore

# Editor/IDE
.vscode
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Testing
coverage


# Misc
README.md
.eslintcache

# Turborepo
.turbo

# Next.js build output
.next
out

# Bun
bun.lockb.bak
.bun

# Docker itself (avoid rebuild context bloat if you have local Dockerfiles' build artifacts)
Dockerfile*
.dockerignore